<div class="flex justify-center min-w-full bg-gray-900 text-gray-50">
  <footer
    class="flex justify-between w-full max-w-6xl my-20 text-gray-400 text-xs md:text-sm px-2 md:px-0"
  >
  <span>
    © 2025 Javier García. Casi todos los derechos reservados.
  </span>
  <span class="flex gap-6">
    <a class="hover:text-gray-200 transition-colors duration-100 hover:cursor-pointer" href="#Projects">Proyectos</a>
    <a class="hover:text-gray-200 transition-colors duration-100 hover:cursor-pointer" href="#Skills">Skilss</a>
  </span>
  </footer>
</div>
